{% load static %}
{% load dmcs %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=M+PLUS+Rounded+1c:wght@300;400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'venus/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <meta property="og:image" content="{{og_image}}" />
    {% block head %}
        <title>Venus Cats: {{subtitle}}</title>
        <meta property="og:title" content="Venus Cats: {{title}}" />
        <meta name="description" content="{{title}}: {{subtitle}}">
        <meta name="og:description" content="{{title}}: {{subtitle}}" />
        <meta name="keywords" content="venus, cats">
    {% endblock %}
</head>
<body>
    {% include './nav.html' %}
    <main>
        {% block body %}

        {% endblock %}
    </main>
    <footer>
        <div class="text">
            <a target="_blank" href='https://github.com/kenfehling/django-micro-cms-ssg'>
              Django Micro CMS/SSG Starter</a>
            <br />
            Created by
            <a target="_blank" href='https://kenfehling.com'>Ken Fehling</a>
        </div>
        <div class="social">
            <a target="_blank" href="https://github.com/kenfehling/django-micro-cms-ssg">
                <i class="fa-brands fa-github-square"></i></a>
            <a href="https://www.instagram.com/explore/search/keyword/?q=cat%20cafe">
              <i class="fa-brands fa-instagram"></i></a>
        </div>
    </footer>
</body>
</html>